    .heroContainer {
    max-width: var(--max-width);
    width: var(--max-width);
    margin-top: 130px;
    position: relative;

    display: flex;
    gap: 41px;

    .heroImgContainer {
        height: 490px;
        object-fit: cover;
    }

    .heroRightNode{
        display: flex;
        flex-direction: column;
        padding-top:120px;
        //problem z paddingiem 30%, bierze % calej dlugosci strony ?
        gap: 48px;
        color: var(--dark-primary, #2B2A2B);

        .textContainer{
            display: flex;
            flex-direction: column;
            gap: 24px;
            max-width: 450px; 
            // czy jest jakis css na przenoszenie calych tekstow po przecinku ? XD

            .bigText {
                font-size: 32px;
                font-weight: 500;
            }

            .smallText {
                font-size: 16px;
                font-weight: 500;
            }

        }

        .buttonContainer {
            display: flex;
            gap : 12px;
            border : none;
            width: 200px;
            background-color: transparent;
        }
    }




}