.navbarContainer {
    position: relative;
    width: var(--max-width);
    max-width: var(--max-width);

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
    // border :solid 4px rgb(74, 51, 138);
    
    .logoContainer{
        height: 60px;
        position: relative;
    }


    .menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        text-transform: uppercase;

        .optionContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;

            .optionLink {
                text-decoration: none;
            }

            .optionText {
                color: #2B2A2B;
            }

        }
    }

    .itemsBasketIcon {
        position: absolute;
        right: 0px;
        top : 27px;    

        .basketCircle {
            position: absolute;
            left :20px;
            top: -6px;
            justify-content: center;
            align-items: center;

            height: 20px;
            width: 20px;

            background-color: red;
            border : none;
            border-radius: 20px;


            .basketCount {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;

                font-size: 13px;
                line-height: normal;
                font-weight: 400;

                color : white;
            }
        }
    }
}



