.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 260px);
    justify-content: space-between;
    text-align: center;
    width: 1120px;
    max-width: 1120px; /* Limit the maximum width of the grid */
    margin: 0 auto; /* Center the grid horizontally */
  }
  


  .gridItem {
    background-color: #640c0c;
    text-align: center;
  }
  


.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.gridPageTitle {
  position: relative;
  left: 0%;
  font-size: 30px;  
}

.titleContainer {
  width: 100%;
  margin-top: 60px;
}