
//colors

//primaryColors
$dark-primary : #2B2A2B;
$light-grey-background: #EFF0F0;

//primaryFilters
$dark-primary-filter:  invert(16%) sepia(5%) saturate(146%) hue-rotate(251deg) brightness(94%) contrast(97%);



