.footer-main-ontainer {
    width: 100%;
    background-color: #333333;
    height: 666px;
    margin-top: 100px;
    padding-top: 48px;
    display: flex;
    justify-content: center;

    .footer-margins-container {
        max-width: var(--max-width);
        width: var(--max-width);
        display: flex;
        flex-direction: column;
        gap:48px;

        color: aliceblue;

        .logo-node {
            img { height: 50px; }
        }

        .split-line {
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.2);
            border-width: 1px 0 0 0;
            width: 1120px;
            height: 0px;
            position: relative;
            transform-origin: 0 0;
            transform: rotate(0deg) scale(1, 1);
        }

        .info-bracket {
            display: flex;
            flex-direction: column;
            gap : 48px;

            .top-part {
                width: var(--max-width);
                display: flex;
                justify-content: space-between;
                
                .flex-shop-info {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }

                .category-title {
                    font-size: 16px;
                    color: white;
                    font-weight: 700;
                }

                .category-title-SKLEP {
                    font-size: 16px;
                    color: white;
                    font-weight: 700;
                    opacity: 45%;
                }

                .flex-company-address {
                    display: flex;
                    flex-direction: column;
                    gap:6px
                }
                
                .flex-column {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                }

                .flex-1{
                    display: flex;
                    flex-direction: column;
                    gap : 12px;
                }
                // to mozna uproscic ala tailwind - wyznaczyc klasy np dla flex i flex-column
            }  

            .bottom-part {
                width: var(--max-width);
                display: flex;
                flex-direction: column;
                gap: 24px;
                

                .name-logos-part{
                    display: flex;
                    justify-content: space-between;
                    
                    .payment-agents {
                        display: flex;
                        gap : 24px;
                    }
                }
            }

        }

        
    }
}