.productPageMain {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.productsContainer {
    height: 2200px;
    width: 1120px;
}


.productGridContainer {
    
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    gap : 16px;



    .productRow {
        display: flex;
        justify-content: space-between;
    }

}