.productViewMainContainer {
    max-width: 260px;
    max-height: 460px;
    width: 260px;
    height: 460px;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;

    .productImageContainer {
        position: relative;
        width: 260px;
    }


    .productInfoContainer {
        padding-top: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .productInfo {
        display: flex;
        flex-direction: column;
        gap : 16px;

        .productNameFlexbox{
            display: flex;
            padding: 0.336px 0px 21.664px 0px;

            .productName {
                font-size: 18px;
                color: var(--dark-primary, #2B2A2B);
            }
        }
    }
    
    .productPriceFlexbox {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .productPrice {
            font-size: 18px;
            color: var(--dark-primary, #2B2A2B);
        }
    }

    
    .basketCircleIcon {

        .circle {
            height: 45px;
            width: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            border-radius: 30px;
    
            &:hover {
                
            }
        }

    }

}


.productLink{
    text-decoration: none;
}